<h1>Version History</h1>

<ul>
  <%- @versions.each do |v| -%>
  <li>
    <%=v.number %> | <%=v.created_at.to_s(:short)%> | <%= link_to_function 'Show / Hide Content', "jQuery(this).siblings('div.fullview').toggle();"%>
    <div class="fullview" style="display:none">
      <h2>Content</h2>
      <strong>Original</strong>
      <%= link_to 'Revert to this Version', revert_to_rain_cloud_path(@drop, {:version => v.number-1}) %>
      <div class="original">
        <%=v.changes['content'][0] rescue "" %>
      </div>
      <strong>Changes</strong>
      <%= link_to 'Revert to this Version', revert_to_rain_cloud_path(@drop, {:version => v.number}) %>
      <div class="changes">
        <%=v.changes['content'][1] rescue ""  %>
      </div>
    </div>
  </li>
  <%- end -%>
</ul>