<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <script type="text/javascript">
    CKEDITOR_BASEPATH = "/assets/ckeditor/";
  </script>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @page_title %>
  <h1><%= @page_title %></h1>
<% end %>

<%= yield %>

<%= puddle %>
</body>
</html>
